{% if site.github_username %}<a href="https://github.com/{{ site.github_username }}"><span class="svg-icon github"></span></a>{% endif %}
{% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><span class="svg-icon linkedin"></span></a>{% endif %}
{% if site.facebook_username %}<a href="https://www.facebook.com/{{ site.facebook_username }}"><span class="svg-icon facebook"></span></a>{% endif %}
{% if site.instagram_username %}<a href="https://instagram.com/{{ site.instagram_username }}"><span class="svg-icon instagram"></span></a>{% endif %}
{% if site.flickr_username %}<a href="https://www.flickr.com/{{ site.flickr_username }}"><span class="svg-icon flickr"></span></a>{% endif %}
{% if site.pinterest_username %}<a href="https://www.pinterest.com/{{ site.pinterest_username }}"><span class="svg-icon pinterest"></span></a>{% endif %}
{% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.twitter_username }}"><span class="svg-icon twitter"></span></a>{% endif %}
{% if site.stackoverflow_username %}<a href="http://stackoverflow.com/{{ site.stackoverflow_username }}"><span class="svg-icon stackoverflow"></span></a>{% endif %}
{% if site.youtube_username %}<a href="https://youtube.com/{{ site.youtube_username }}"><span class="svg-icon youtube"></span></a>{% endif %}
{% if site.googleplus_username %}<a href="https://plus.google.com/{{ site.googleplus_username }}"><span class="svg-icon googleplus"></span></a>{% endif %}
{% if site.email %}<a href="mailto:{{ site.email }}"><span class="svg-icon email"></span></a>{% endif %}
{% if site.rss %}<a href="{{ site.baseurl }}/feed.xml"><span class="svg-icon rss"></span></a>{% endif %}
